.friendList {
  /* list */
  margin-top: 0;
  padding-left: 0;
  list-style: none;
  /*  */

  width: 100%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  background-color: transparent;
}

.item:not(:last-child) {
  margin-bottom: 15px;
}

.item {
  display: flex;
  justify-content: left;
  align-items: center;

  width: 300px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  background-color: var(--basic-light-bg-color);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  transition: var(--basic-transition-anim);
}

.item:hover {
  transform: scale(1.1);
  transform: translate(30px, -3px);
}

.status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.isOffline {
  composes: status;

  background-color: #db211a;
}

.isOnline {
  composes: status;

  background-color: #57db1a;
}

.avatar {
  width: 60px;
  margin-right: 20px;
  padding: 5px;
  border-radius: 10%;
  background-color: var(--secondary-light-bg-color);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}

.name {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: var(--bold-font-weight);
  color: var(--secondary-text-color);
}
